.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.heading__btn {
  width: 252px !important;
  height: 58px !important;
  font-weight: 700;
  transition: all 0.25s linear;
}

.heading__btn:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.heading__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  flex: 1;
  gap: 43px;
}

.heading__form-control {
  max-width: 100%;
  font-family: "Inter", sans-serif;
  width: 368px;
  height: 50px;
  outline: none;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fdfdfd;
  padding: 0 34px;
  font-size: 15px;
}

/* table */
.table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #000;
  border-collapse: collapse;
  margin-top: 35px;
  margin-bottom: 26px;
}

.th,
.td {
  padding: 12px;
  font-size: 20px;
  border: 1px solid #000;
  text-align: center;
  background-color: #d9d9d9;
}

.th {
  font-weight: 400;
}

.table-actions {
  display: flex;
  align-items: center;
}

.table-action {
  padding: 0px 12px;
  transition: all 0.25s linear;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-size: 2rem;
}

.table-action:hover {
  opacity: 0.5;
}

.pagination {
  margin: 20px 0;
}
